* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.navbar {
    background-color: rgba(33,0,1,0.98);
    border: red solid 4px;
}

.navbar>.container-fluid {
    justify-content: center;
}

h1 {
    color: white;
}

.logo {
    width: 200px;
    height: 40px;
    object-fit: cover;
}

.code-enter {
    background-color: white;
    color: red;
    font-size: 22px;
}

.konami-img-div {
    height: 100vh;
}

.konami-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.red-konami {
    object-fit: cover;

    width: 100%;
    height: 100px;
}

.hide-success, .hide-fail, .hide-start {
    display: none;
}