body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info: rgba(0, 0, 255, 0.5);
    --text-info: rgba(0, 0, 255, 0.85);
    --bg-success: rgba(0, 255, 0, 0.5);
    --text-success: #099719;
    --bg-warning: rgba(255, 255, 0, 0.5);
    --text-warning: #ff9b2f;
    --bg-error: rgba(255, 0, 0, 0.5);
    --text-error: rgba(255, 0, 0, 0.85);
}

.message {

    border: 1px solid lightgray;
    padding: 6px 6px 6px 6px;
    margin: 0px auto 8px auto;
    /*margin: 8px 0px 8px 0px;*/
    border-radius: 5px;
    width: 80%;
}

.message-info {
    /*background: rgba(0, 0, 255, 0.5);*/
    /*color: rgba(0, 0, 255, 0.85);*/
    background: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    /*background: rgba(0, 255, 0, 0.5);*/
    /*color: #099719;*/
    background: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    /*background: rgba(255, 255, 0, 0.5);*/
    /*color: #ff9b2f;*/
    background: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    /*background: rgba(255, 0, 0, 0.5);*/
    /*color: rgba(255, 0, 0, 0.85);*/
    background: var(--bg-error);
    color: var(--text-error);
}
