/*General Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9EAFC;
    /*code to stick footer to bottom*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /********************************/
}

/*Styling for Header*/
.codeup-logo {
    width: 90px;
}

.city-state {
    font-size: 24px;
    color: #061F37;
    text-align: center;
}

.bg-light {
    background-color: #1177E4 !important;
}

.nav-link {
    color: #DAEBFB !important;
}

.btn-outline-secondary {
    color: white;
    border-color: white;
}

.navbar-toggler {
    background-color: white;
}

/*Card Styling*/

.card-header {
    font-size: 24px;
}

.carousel {
    margin-bottom: 1rem;
}


/*Dirty solution to make carousel tabs correct height*/
.tabs {
    color: #f8f8f8;
}

.card-text {
    font-size: 16px;
}

.card-title {
    font-size: 28px;
}

.card-box-shadow {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.039);
}

/*Footer Styling*/

.logo-open-weather {
    width: 150px;
    margin-left: 1em;
    margin-right: 1em;
}

.logo-map-box {
    width: 100px;
    margin-left: 1em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #ECF5FD;
    background-color: #1177E4;
    padding: 2px;
    height: 45px;

    /*Code to Stick footer on botton*/
    margin-top: auto;
}

/*******************/
/*Media Queries*/
/*display only for screen sizes below 768px*/

@media (max-width: 768px) {
  .logo-map-box {
      margin-left: 0;
      margin-right: 0;
  }
  .logo-open-weather {
      margin-left: 0;
      margin-right: 0;
    }
}

/*display only for screen sizes 768 and up*/
@media (min-width: 768px) {
    .card {
        width: 100%;
    }

    .cards-normal {
        gap: 2px;
        height: 50%;
    }

    .card-body {
        margin: auto;
        height: 350px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-header {
        font-size: 18px;
    }

    .card-text {
        font-size: 14px;
    }

    #map {
        width: 100% !important;
        margin-top: 2em !important;
    }
}
