body {
    background: #fff4dc;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    text-align: center;
}


table{
    margin-left: auto;
    margin-right: auto;
}

ul, ol {
display: inline-block;
}

